<div class="page-header">
  <h1><%= @project.name %></h1>
</div>



<ol class="breadcrumb">
  <li><a href="/projects">Projects</a></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li>Memberships</li>
</ol>

<%= render "shared/error", object: @membership, error_type: "membership" %>

<div class="well form-inline">
  <%= form_for [@project, @membership] do |f|  %>
  <%= f.collection_select :user_id, User.all, :id, :full_name, {prompt: "Please select a user..."}, class: "form-control" %>
  <%= f.collection_select :role, Membership.capital_roles, :last, :first, {include_blank: false}, class: "form-control" %>
  <%= f.submit %>
  <% end %>
</div>

  <% @project.memberships.each do |membership| %>
  <%= link_to "#{membership.user.full_name}", user_path(membership.user) %>
  <%= link_to '', project_membership_path(@project, membership), method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove" %>


  <% end %>
