<%= form_for(@task, html: {:class => "form-horizontal"}) do |f| %>
<% if @task.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

  <ul>
    <% @task.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="form-group">
  <div class="field">
    <%= f.label :description, :class => 'control-label col-md-2' %>

    <div class='form-controls col-md-4'>
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="field">
    <%= f.label :due_date, :class => 'control-label col-md-2' %>

    <div class='form-controls col-md-4'>
      <%= f.date_field :due_date, :class => 'form-control' %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col-md-offset-2 col-md-4">
    <%= f.check_box(:complete) %> Complete
</div>
</div>


<div class="form-group">
  <div class="col-md-offset-2 col-md-4">
    <%= f.submit 'Create Task', :class => 'btn btn-primary'%>
    <%= link_to 'cancel', tasks_path, class: 'btn btn-default'%>
  </div>
</div>

<% end %>
