<%= form_for([@project, @task], html: {:class => "form-horizontal"}) do |f| %>

  <%= render "shared/error", object: @task, error_type: "task" %>


<div class="form-group">
  <div class="field">
    <%= f.label :description, :class => 'control-label col-md-2' %>

    <div class='form-controls col-md-4'>
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
  </div>
</div>


<div class="form-group">
  <div class="field">
    <%= f.label :due_date, :class => 'control-label col-md-2' %>

    <div class='form-controls col-md-4'>
      <%= f.date_select :due_date, :class => 'form-control' %>
    </div>
  </div>
</div>

<% unless @task.description == nil %>
<div class="form-group">
  <div class="col-md-offset-1 col-md-1">
    <b>Completed</b>
  </div >
  <div class="col-md-4">
  <%= f.check_box(:complete) %>
    </div>

</div>
<% end %>


<div class="form-group">
  <div class="col-md-offset-2 col-md-4">
    <%= f.submit @submit_name, :class => 'btn btn-primary'%>
    <%# link_to 'cancel', tasks_path, class: 'btn btn-default'%>
  </div>
</div>

<% end %>
