<div class="page-header">
  <div class="pull-right">
    <%= link_to "New Task", new_project_task_path, class: "btn btn-info" %>
  </div>
<h1>Tasks</h1>
</div>

<ol class="breadcrumb">
  <li><a href="/projects">projects</a></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li>Tasks</li>

</ol>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Description</th>
      <th>Complete</th>
      <th>Due</th>

      <th colspan="3"></th>

    </tr>
  </thead>

  <tbody>
    <% @project.tasks.each do |task| %>
      <tr>
        <td><%= task.description%></td>
        <td><%= task.complete %></td>
        <td><%= task.date %></td>
        <td class="text-right">
        <%= link_to 'Show', project_task_path(task.project, task), :class => "btn btn-success"  %>
        <%= link_to 'Edit', edit_project_task_path(task.project, task), :class => "btn btn-info"  %>
        <%= link_to '', project_task_path(task.project, task),  id: "delete_link", method: :delete, data: { confirm: 'Are you sure?' }, :class => "glyphicon glyphicon-remove" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
