<div class="page-header">
  <div class="pull-right  ">
  <%= link_to 'Edit', edit_user_path, :class => "btn btn-info"  %>
</div>
  <h1><%= @user.full_name %></h1>
</div>

<ol class="breadcrumb">
  <li><a href="/users">users</a></li>
  <li class="active"><%= @user.first_name %></li>
</ol>

<div>
  <p>Name: <%= @user.full_name %></p>
  <p>Email: <%= @user.email %></p>
</div>
