<div class="page-header">
  <div class="pull-right  ">
    <% if @user == current_user or current_user.admin? %>
  <%= link_to 'Edit', edit_user_path, :class => "btn btn-info"  %>
  <% end %>
</div>
  <h1><%= @user.full_name %></h1>
</div>

<ol class="breadcrumb">
  <li><a href="/users">users</a></li>
  <li class="active"><%= @user.first_name %></li>
</ol>

<dl class="dl-horizontal">
  <dt><strong>First Name:</strong></dt>
  <dd><%= @user.first_name %></dd>
  <dt><strong>Last Name:</strong></dt>
  <dd><%= @user.last_name %></dd>
  <% if @user == current_user or @collaborators.include? @user or current_user.admin? %>
  <dt><strong>Email:</strong></dt>
  <dd><%= mail_to @user.email %></dd>
  <% end %>
</dl>
