!!!
%head
  %title GcampJordanCollier
  = favicon_link_tag 'ness.png'
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags
%body{id: "top"}
  %nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to 'gCamp', root_path, class: 'navbar-brand'
      #navbar.navbar-collapse.collapse
        %ul.nav.navbar-nav.navbar-right
          = link_to "Sign Up", new_user_path, class: "navbar-brand"
          = link_to "Sign In", new_user_path, class: "navbar-brand"
  .container
    - flash.each do |type, message|
      - if type == "notice"
        %b
          %center
            .alert.alert-success= message
      - elsif type == "alert"
        %b
          %center
            .alert.alert-danger= message
    = yield
    %footer
      .row
        .col-md-6
          = link_to "About", about_path
          |
          = link_to "Terms", terms_path
          |
          = link_to "Faq", faq_path
          |
          = link_to "Tasks", tasks_path
          |
          = link_to "Users", users_path
          |
          = link_to "Projects", projects_path
        .col-md-6.text-right
          %a{:href => "https://www.linkedin.com/in/jordanicollier"}
            = image_tag"linked.jpg", class: "img-footer"
          %a{:href => "https://github.com/JordanCollier"}
            = image_tag"github.png", class: "img-footer"
          %a{:href => "https://twitter.com/JordanICollier"}
            = image_tag"twitter.png", class: "img-footer"
          %a{:href => "https://students.gschool.it/students/206"}
            = image_tag "galvanize.png", class: "img-footer"



  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
  %script{:src => "../../dist/js/bootstrap.min.js"}
  %script{:src => "../../assets/js/ie10-viewport-bug-workaround.js"}
