!!!
%head
  %title GcampJordanCollier
  = favicon_link_tag 'ness.png'
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags
%body{id: "top"}
  %nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to 'gCamp', projects_path, class: 'navbar-brand'
        -unless vendor_page?
          %ul.nav.navbar-nav
            %li.dropdown
              = link_to projects_path, class: 'dropdown-toggle',
                data: {toggle: 'dropdown'}, role: 'button', 'aria-exapnded': 'false' do
                Projects
                %span.caret
              %ul.dropdown-menu{role: 'menu'}
                - current_user.projects.each do |project|
                  %li= link_to project.name, project_path(project)
                %li.divider
                %li= link_to "New Project", new_project_path
            %li= link_to "Users", users_path
      #navbar.navbar-collapse.collapse
        %ul.nav.navbar-nav.navbar-right
          - if current_user
            = link_to "#{current_user.first_name}", user_path(current_user.id) ,class: "navbar-brand"
            = link_to "Sign Out", logout_path, class: "navbar-brand"
          - else
            = link_to "Sign Up", new_registration_path, class: "navbar-brand"
            = link_to "Sign In", login_path, class: "navbar-brand"
  .container
    - flash.each do |type, message|
      - if type == "notice"
        %b
          %center
            .alert.alert-success= message
      - elsif type == "alert"
        %b
          %center
            .alert.alert-danger= message
    = yield
    %footer
      .row
        - if vendor_page?
          .col-md-6
            = render "shared/footer"
          .col-md-6.text-right
            - if vendor_page?
              %a{:href => "https://www.linkedin.com/in/jordanicollier"}
                = image_tag"linked.jpg", class: "img-footer"
              %a{:href => "https://github.com/JordanCollier"}
                = image_tag"github.png", class: "img-footer"
              %a{:href => "https://twitter.com/JordanICollier"}
                = image_tag"twitter.png", class: "img-footer"
              %a{:href => "https://students.gschool.it/students/206"}
                = image_tag "galvanize.png", class: "img-footer"
        - else
          .col-md-12.text-center
            = render "shared/footer"


  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
